createdAt: "2018-12-27T02:57:18.253Z"
updatedAt: "2018-12-27T03:29:50.700Z"
type: "MARKDOWN_NOTE"
folder: "d0f67a14aa76149aff94"
title: "性能测试工作梳理"
tags: []
content: '''
  # 性能测试工作梳理
  
  -       1.  梳理性能测试的工作量
  -       2. 性能测试大的计划表
  -       3.  环境确认
  -       4. 公安办案人员的基础数据是怎么来的
  -       5. 卷宗系统脚本编写
  
  
'''
isStarred: false
isTrashed: false
