createdAt: "2018-12-21T02:28:44.766Z"
updatedAt: "2018-12-27T02:43:26.772Z"
content: '''
  # <center>性能测试相关</center>
  
  ## 1.iostat使用
  
  iostat [ options ][ [ ] ]
  
  iostat 主要有三个操作箱，options 操作项，interval指定统计时间间隔，count总共输出次数
  
  -c 参数，可以用来插卡部分cpu状态信息
  
  avg-cpu:  %user   %nice %system %iowait  %steal   %idle
  
  avg-cpu段:
  
  %user: 在用户级别运行所使用的CPU的百分比.
  
  %nice: nice操作系统所使用的CPU的百分比.
  
  %sys: 在系统级别(kernel)运行所使用CPU的百分比.
  
  %iowait: CPU等待硬件I/O时,所占用CPU百分比.
  
  %idle: CPU空闲时间的百分比
  
  \\---------------------
  
  Device段:
  
  tps: 每秒钟发送到的I/O请求数.
  
  Blk_read /s: 每秒读取的block数.
  
  Blk_wrtn/s: 每秒写入的block数.
  
  Blk_read:   读入的block总数.
  
  Blk_wrtn:  写入的block总数.
  
  
'''
folder: "d0f67a14aa76149aff94"
title: "性能测试相关"
type: "MARKDOWN_NOTE"
tags: [
  "性能测试"
]
isStarred: false
isTrashed: false
