createdAt: "2018-12-20T06:10:07.412Z"
updatedAt: "2018-12-20T06:10:38.527Z"
type: "MARKDOWN_NOTE"
folder: "d0f67a14aa76149aff94"
title: "Hello"
tags: []
content: "##Hello"
isStarred: false
isTrashed: false
